<ng-sidebar-container >
      <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dock]="_dock"
        [dockedSize]="'50px'"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'demo-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()"
        (onTransitionEnd)="_onTransitionEnd()">
        <p>Sidebar contents</p>
        <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
        <!-- <p><a closeSidebar>This will close the sidebar too</a></p> -->
        <hr>
        <p><a [routerLink]="['/dashboard']">Dashboard </a></p>
       
      </ng-sidebar>
      <div ng-sidebar-content >
        <header class="demo-header">
          <button (click)="_toggleOpened()" class="demo-header__toggle">Toggle sidebar</button>
          <span>Welcome User</span>
        </header>
        <section class="demo-contents">


          <div class="container">
            <div class="row">
              <div class="page">
                      <p> welcome to <span style="color: red">{{ this.title }}</span> detail page </p> <p><a role="button" [routerLink]="['/dashboard']" style="cursor: pointer"> back</a></p>  
                </div> 
                    </div>
                  </div>

        </section>
      </div>
    </ng-sidebar-container>