<ng-sidebar-container >
      <ng-sidebar
        [(opened)]="_opened"
        [mode]="_MODES[_modeNum]"
        [keyClose]="_keyClose"
        [position]="_POSITIONS[_positionNum]"
        [dock]="_dock"
        [dockedSize]="'50px'"
        [autoCollapseHeight]="_autoCollapseHeight"
        [autoCollapseWidth]="_autoCollapseWidth"
        [closeOnClickOutside]="_closeOnClickOutside"
        [closeOnClickBackdrop]="_closeOnClickBackdrop"
        [showBackdrop]="_showBackdrop"
        [animate]="_animate"
        [trapFocus]="_trapFocus"
        [autoFocus]="_autoFocus"
        [sidebarClass]="'demo-sidebar'"
        [ariaLabel]="'My sidebar'"
        (onOpenStart)="_onOpenStart()"
        (onOpened)="_onOpened()"
        (onCloseStart)="_onCloseStart()"
        (onClosed)="_onClosed()"
        (onTransitionEnd)="_onTransitionEnd()">
        <p>Sidebar contents</p>
        <button class="demo-control" (click)="_toggleOpened()">Close sidebar</button>
        <!-- <p><a closeSidebar>This will close the sidebar too</a></p> -->
        <hr>
        <p><a [routerLink]="['/dashboard']">Dashboard </a></p>
       
      </ng-sidebar>
      <div ng-sidebar-content class="bg-c">
        <header class="demo-header">
          <button (click)="_toggleOpened()" class="demo-header__toggle">Toggle sidebar</button>
          <span>Welcome User</span>
        </header>
        <section class="demo-contents">


          <div class="container">
            <div class="row">
              <div class="page">
              <h4>Static Tiles</h4>
              <h5>Click the tile to open modal</h5>
                        <div class="metr">
                         <a class="metrostyle orgmetro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('User List')"  >

                             <span class="fa fa-users" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                             <span style="color: white; font-size: 1.1em; float: right; margin-top: 5px; padding-right: 0.2em">7</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">User List </span>
                         </a>
                         <a class="metrostyle eenmetro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Setting')" >

                             <span class="fa fa-cogs" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">71</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px ;margin-right:50px">Setting </span>

                         </a>
                         <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Hospitals')" class="metrostyle metrostylelarge  boometro" >
                                <span class="fa fa-hospital-o" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px;float:left"></span>
                                <span style="color:white;font-size: 1.1em;float:right;margin-top:5px;padding-right:0.2em">37</span>   
                                <span style="color:white;float:left;margin-top:35px;margin-left:10px;margin-right:180px">Hospitals </span>
                            </a>
                         <a class="metrostyle reemetro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Branches')" >
                             <span class="fa fa-medkit" style="font-size: 2em; color: white; padding-left: 0.3em ; margin-top: 3px ;float:left"></span>
                             <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">27</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">Branches </span>
                         </a>
                         <a class="metrostyle yoometro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Clinics')" >

                             <span class="fa fa-stethoscope" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                             <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">17</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">Clinics</span>
                         </a>
                     </div>
                        <div class="metr">
                           
                            <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Cities')" class="metrostyle  reemetro" >

                                <span class="fa fa-globe" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">7</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:100px">Cities</span>
                            </a>
                          <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Reservation Type')" class="metrostyle metrostylelarge  toometro" >
                                <span class="fa fa-ticket" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">7</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:120px">Reservation Type</span>
                            </a>
                            <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Visit Type')" class="metrostyle yoometro" >

                                <span class="fa fa-vimeo-square" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">7</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:70px">Visit Type</span>
                            </a>
                           
                           <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Labs')" class="metrostyle  toometro" >
                                <span class="fa fa-flask" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">27</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px ;margin-right:100px">Labs</span>
                            </a>
                            <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Rads')" class="metrostyle  orgmetro"  >
                                <span class="fa fa-bookmark" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">47</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:180px">Rads</span>
                            </a>
                        </div>
                        <div class="metr">                          
                            <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Samples')" class="metrostyle eenmetro" >
                                <span class="fa fa-heartbeat" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                <span style="color:white;font-size: 1.1em;float:right;margin-top:5px;padding-right:0.2em">7</span>   
                                <span style="color:white;float:left;margin-top:35px;margin-left:10px;margin-right:180px">Samples</span>
                            </a>
                             <a class="metrostyle yoometro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Drugs')" >
                                <span class="fa fa-plus-square-o" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">87</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">Drugs </span>
                            </a>
                            <a class="metrostyle eenmetro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Dose')" >

                                <span class="fa fa-glass" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">342</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">Dose</span>
                            </a>
                            <a class="metrostyle metrostylelarge reemetro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Diseases')" 
                            >
                                <span class="fa fa-bed" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">8</span>
                                <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:180px">Diseases </span>
                            </a>
                             <a class="metrostyle orgmetro" style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Unaided')" >
                                <span class="fa fa-map-marker" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px ;float:left"></span>
                                <span style="color: white; font-size:  1.1em; float: right; margin-top: 5px; padding-right: 0.2em">13</span>
                                <span style="color: white; float: left; margin-top: 35px;margin-right:80px ;margin-bottom:20px;margin-left:10px">Unaided</span>
                            </a>
                        </div>
                        <div class="metr">          
                             <a style="cursor: pointer" data-toggle="modal" data-target="#newModal" (click)="curProduct('Slit Lamb Diseases')" class="metrostyle metrostylelarge  boometro">
                                <span class="fa fa-eye" style="font-size:2em;color:white;padding-left:0.3em;margin-top:3px ;float:left"></span>
                                <span style="color:white;font-size: 1.1em;float:right;margin-top:5px;padding-right:0.2em">47</span>   
                                <span style="color:white;float:left;margin-top:35px;margin-left:10px;margin-right:100px">Slit Lamb Diseases </span>
                            </a>
                        </div>
                        </div> 
                    </div>
                  </div>

          <div class="container">
            <div class="row">
              
                         <div class="col-md-12" style="margin-top: 10px"><h4>Dynamic Tiles</h4>
                         <h5>Click the tile to redirect to detail page..</h5>
                         </div>
                        

                        <div *ngFor="let tile of tiles" class="metr">
                         <a [ngClass]="tile.class" [routerLink]="['/detail-page/'+ tile.title]" style="cursor: pointer" >
                             <span [ngClass]="tile.faClass" style="font-size: 2em; color: white; padding-left: 0.3em; margin-top: 3px;float:left"></span>
                             <span style="color: white; font-size: 1.1em; float: right; margin-top: 5px; padding-right: 0.2em">{{ tile.num }}</span>
                             <span style="color: white; float: left; margin-top: 35px; margin-left: 10px;margin-right:80px">{{ tile.title }} </span>
                         </a>
                         </div>
              
             </div>            
          </div>





          
        </section>
      </div>
    </ng-sidebar-container>




    <div class="container" >
   <div class="modal fade" id="newModal" role="dialog">
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-header">
       <h4 class="modal-title">modal</h4>
       <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
       This is  <span style="color: red"> {{ this.value }} </span> Modal..
      </div>
     </div>
    </div>
   </div>
  </div>